body{
     background-color: gray;
    font-family: 'Oswald', sans-serif;
}


   
        
        .btnn{
         position: relative;
         height: 40px;
         width: 200px;
         margin: 20px;
         background-color: white;
         border-radius: 4px;
         text-transform: uppercase;
         color: purple;
         font-size: 18px;
         overflow: hidden;
         transition: all 500ms ease;
         border: 1px solid purple;
         margin: bottom 70px auto ;
         transition: all .25s;
        cursor: pointer;
         z-index: 0;
         font-weight: 500;
         
        
        }
        .btn::before{
            content: '';
            position: absolute;
            width: 100%;
            height: 0px;
            left: 0px;
            bottom: 0px;
            background-image: linear-gradient(to right, rgb(23, 228, 243),rgb(0, 141, 235) );
            transition: all .25s;
            z-index: -1;

        }
        .btnn:hover{
            border: 1px solid transparent;
            color:gray;
        }
        .btn:hover::before{
            height: 100%;
        }
        
         .container{
             display: flex;
            flex-direction: column;
            justify-content: center; 
            align-items: center;
        }
            