*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

div{
     
    width: auto;
    
}

body{
    background: #ffffff;
    color: #ffffff21;
    font-family: 'Oswald', sans-serif;
    font-size: 17px;
}


.container a{
    color: #ffffff;
    text-decoration:none ;
}

ul{
    list-style: none;
}

.container {
    width: 100%;
    margin: auto;
    background: #000;

}

.nav-main {
    display: flex;
    justify-content: space-between;
}




/* nav left */
.nav-main ul{
    display: flex;
}

.nav-main ul li a:hover{
    border-bottom: 2px solid #ffffff;
}

.nav-main ul li {
    padding: 20px;
    justify-content: center;
}

.nav-main ul.nav-menu{
    flex: 1;
    
}
 /* show */


hr{
    margin: 1px;
}

.show{
    width: 100%;
    height:  800px;
    background: url(img/muebles\ 5.png) no-repeat center center/cover;
    margin-left: auto;
    padding-bottom: 60px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

.show a{
    color: #ffff;
}

.btn{
    cursor: pointer;
    display: inline-block;
    border: 0;
    font weight: bold;  
    padding: 10px 20px;
    background: #262626;
    font size: 15px;
    border: 1px solid #fff;
}

.btn:hover{
    opacity: .9;

}


/*cards*/

.cards{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
    margin: 10px 0;
}

.cards a{
    text-decoration: none;
}
.cards img{
    width: 100%;
    height: 300px;


}

.cards h3{
    color: #000;
    font-size: 20px;
    margin: 5px;
}

.cards p{
    color: #000;
}
